/* styles.css */
@import url('https://fonts.cdnfonts.com/css/games');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #333;
    padding: 10px 0;
}

.social-links {
    text-align: center;
}

.social-links a {
    margin: 0 15px;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: darkgoldenrod;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #043927;
    color: #fff;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    font-weight: bolder;
    animation: typing 4s steps(12, end), fade 4s;
}

.hero span {
    color: darkgoldenrod;
}

.hero p {
    font-size: 1.2em;
    color: bisque;
    margin-bottom: 20px;
}

.projects {
    margin: 40px 0;
}

.projects h2 {
    font-size: 2em;
    color: bisque;
    margin-bottom: 20px;
}

.projects a {
    display: inline-block;
    text-align: center;
    margin: 15px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s;
}

.projects img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.projects a:hover {
    transform: scale(1.05);
}

.newsletter h2 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 15px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter input[type="email"] {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.newsletter button {
    padding: 12px 24px;
    font-size: 1em;
    color: #043927;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.newsletter button:hover {
    background-color: darkgoldenrod;
    color: #fff;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-social-links a {
    margin: 0 15px;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.footer-social-links a:hover {
    color: darkgoldenrod;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }
    .projects img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }
    .projects img {
        width: 80px;
        height: 80px;
    }
}
